.signup .container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    align-items: center;
}



.signup img{
    width:300px;
    height: 500px;;
}
.signup .container h2, p{
    color:black;
}